<br>
<br>
<%= @game.location %>
<br>
<%= @game.time %>
<%= @game.team_id %>

<form>
<label>Comment:</label><br>
<textarea id="game_post" name="game[post]"></textarea><br>
<input type="Submit" value="Submit Post">

</form>
    